// If you edit this file you need to compile the theme. See README.md for details.

@mixin pms {

	.main-tile-navigation {
		height: 400px;
		width: 600px;
	}

	.main-tile-navigation img {
		height: 150px;
		width: 150px;
	}
}
